/* ========================================== 
    Post Archive
*/

.article-archive ul.archive {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
}
.article-archive h4.year,
.article-archive h5.month,
.article-archive ul.archive li span.day {
  display: block;
  position: relative;
  font-size: 17px;
  font-weight: normal;
  margin: 0 0 0.5em 0;
}
.article-archive h4.year a {
  border: none;
}
.article-archive ul.archive li ul.posts {
  border-left: 1px solid #e0e0e0;
  list-style-type: none;
  display: block;
  float: left;
  width: 380px;
  margin: 0 0 1em 10px;
  padding: 0 0 0 5px;
}
.article-archive ul.archive li ul.posts {
  margin: 0 0 1em 0; 
}


.article-sidebar .article-archive ul.archive li ul.posts {
  width: 110px;
}

.article-sidebar .article-archive h4.year {
  float: left;
  margin-top: -12px;
  margin-left: -46px;
  z-index: 100;
}
.article-sidebar .article-archive h4.year a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #e00053;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.article-sidebar .article-archive h4.year a:hover {
  color: #f9f9f9;
  background: #2f3237;
	-webkit-transition: background-color 0.2s linear;
	-moz-transition: background-color 0.2s linear;
	-o-transition: background-color 0.2s linear;
}



.article-sidebar .article-archive h5.month {
  background-color: #eee;
  padding: 2px 11px;
  z-index: 0;
}

.article-sidebar .article-archive h5.month a,
.article-sidebar .article-archive span.day a,
#content .article-archive h5.month a,
#content .article-archive span.day a {
  text-decoration: none;
}


.article-sidebar .article-archive span.day {
  float: left;
  font-size: 25px;
  width: 20px;
  text-align: right;
  letter-spacing: -0.05em;
}


#content .article-archive div.month {
  clear: both;
  width: 47%;
  float: left;
  margin-bottom: 1em;
}
#content .article-archive div.month.alt {
  clear: none;
  float: right;
}


#content .article-archive h4.year {
  clear: both;
  font-size: 100px;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  line-height: 100px;
  letter-spacing: -0.1em;
  background-color: #e00053;
}
#content .article-archive h4.year a {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
}
#content .article-archive h5.month {
  font-size: 40px;
  margin: 0 0 10px 0;
  padding: 0;
  border-bottom: 2px solid #e00053;
  line-height: 40px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}


#content .article-archive span.day {
  float: left;
  font-size: 25px;
  width: 35px;
  text-align: right;
  margin: 0 10px 0 0;
  padding: 0;
  line-height: 25px;
  letter-spacing: -0.05em;
}
#content .article-archive ul.archive li ul.posts li a {
  display: block;
  text-decoration: none;
  padding: 3px 5px;
}

#content .article-archive ul.archive li ul.posts li a:hover {
  background-color: #e00053;
  color: #fff;
}


/* ========================================== 
    Post Preview
*/

.article-preview {
  clear: both;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

.article-preview h2 {
  margin-bottom: 0;
}

/* ========================================== 
    Tag Cloud
*/
.tag-cloud {
  position: relative;
  height: auto;
  padding: 15px;
  margin-bottom: 25px;
  line-height: 27px;
}
.tag-cloud h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
ul.tags  {
  list-style: none;
  margin: 0;
  }
ul.tags li  {
  list-style: none;
  }

ul.tags a {
  display: inline-block;
  position: relative;
  float: left;
  width: auto;
  height: auto;
  border: 0;
  text-decoration: none;
  text-align: left;
  background: #f9f9f9 url('/images/buttons/button_overlay.png') repeat-x;
  margin: 3px;
  padding: 1px 6px;
  font-size: 14px;
  color: #2f3237;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  background-position: 0 center;
  cursor: pointer;
}

ul.tags a:hover {
  text-decoration: none;
  margin: 3px;
  background: #e00053;
  color: #f9f9f9;
  display: inline-block;
  position: relative;
  float: left;
  width: auto;
  height: auto;
  border: 0;
  text-decoration: none;
  text-align: left;
  margin: 3px;
  padding: 1px 6px;
  font-size: 14px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.2s linear;
	-moz-transition: background-color 0.2s linear;
	-o-transition: background-color 0.2s linear;
  background-position: 0 center;
  cursor: pointer;
}

ul.tags a:active {
  background: #c00e0e;
  color: #f9f9f9;
}



