/* ========================================== 
    Post Archive
*/

.post-archive ul.archive {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
}
.post-archive h4.year,
.post-archive h5.month,
.post-archive ul.archive li span.day {
  display: block;
  position: relative;
  font-size: 17px;
  font-weight: normal;
  margin: 0 0 0.5em 0;
}
.post-archive ul.archive li ul.posts {
  border-left: 1px solid #e0e0e0;
  list-style-type: none;
  display: block;
  float: left;
  width: 380px;
  margin: 0 0 1em 10px;
  padding: 0 0 0 5px;
}
.post-archive ul.archive li ul.posts {
  margin: 0 0 1em 0; 
}


.post-sidebar .post-archive ul.archive li ul.posts {
  width: 110px;
}



.post-sidebar .post-archive h4.year {
  float: left;
  margin-top: -12px;
  margin-left: -46px;
  z-index: 100;
}
.post-sidebar .post-archive h4.year a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #e00053;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
}



.post-sidebar .post-archive h5.month {
  background-color: #eee;
  padding: 2px 11px;
  z-index: 0;
}

.post-sidebar .post-archive h5.month a,
.post-sidebar .post-archive span.day a,
#content .post-archive h5.month a,
#content .post-archive span.day a {
  text-decoration: none;
}


.post-sidebar .post-archive span.day {
  float: left;
  font-size: 25px;
  width: 20px;
  text-align: right;
  letter-spacing: -0.05em;
}


#content .post-archive div.month {
  clear: both;
  width: 47%;
  float: left;
  margin-bottom: 1em;
}
#content .post-archive div.month.alt {
  clear: none;
  float: right;
}


#content .post-archive h4.year {
  clear: both;
  font-size: 100px;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  line-height: 100px;
  letter-spacing: -0.1em;
  background-color: #e00053;
}
#content .post-archive h4.year a {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
}
#content .post-archive h5.month {
  font-size: 40px;
  margin: 0 0 10px 0;
  padding: 0;
  border-bottom: 2px solid #e00053;
  line-height: 40px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}


#content .post-archive span.day {
  float: left;
  font-size: 25px;
  width: 35px;
  text-align: right;
  margin: 0 10px 0 0;
  padding: 0;
  line-height: 25px;
  letter-spacing: -0.05em;
}
#content .post-archive ul.archive li ul.posts li a {
  display: block;
  text-decoration: none;
  padding: 3px 5px;
}

#content .post-archive ul.archive li ul.posts li a:hover {
  background-color: #f4b80c;
}


/* ========================================== 
    Post Preview
*/

.post-preview {
  clear: both;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

.post-preview h2 {
  margin-bottom: 0;
}